body {
  background-color: #faf9fa;
}

main {
  width: 50vw;
  height: 50vh;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #efeff0;
}

main img {
  width: 75%;
}

#dnd {
  border: 1px dashed blue;
}
